.block {
    border: 1px solid $slamdata-border-color;
    .right-side {
        border-left: 1px solid $slamdata-border-color;
    }
}

.block-toolbar {
    div {
        height: 100%;
    }
    &.row {
        border-bottom: 1px solid $slamdata-border-color;
    }
    .button-bar .button {
        margin-bottom: 0;
    }
}

.block-type {
    span {
        font-size: 14pt;
        line-height: 1;
    }
}

.block-content {
    textarea {
        margin-bottom: 0;
    }
    &.row > div {
        bottom: 0;
    }
}

.block-editor, .block-content div {
    min-height: 150px;
}

.block-metadata {
    padding: rem-calc(20);
}

.evaled-block {
    border: 1px solid transparent;
    padding: rem-calc(20);
    &:hover {
        @include panel($bg: #e6e6e6);
        margin: 0;
        h1, h2, h3, h4, h5, h6 {
            line-height: $header-line-height;
            margin-bottom: $header-bottom-margin;
        }
    }
}

.block-label {
    padding: 10px;
    text-align: center;
}

.block-SQL .evaled-block {
    span {
        font-family: monospace;
        font-size: 10pt;
    }
    max-height: 150px;
    overflow-y: auto;
}
