#settings .toolbar {
    padding-bottom: 10px;
}

#settings-category {
    border-top: 1px solid $slamdata-border-color;
}

#settings-content {
    border: 1px solid $slamdata-border-color;
    border-right: none;
}
